[Unit]
Description=hostit app homes (btrfs on a loopback image)

[Mount]
What={{ hostit_node_apps_img }}
Where={{ hostit_node_apps_dir }}
Type=btrfs
Options=loop

[Install]
WantedBy=multi-user.target
